body {
  background: #07080c;
  color: #e5e5e5;
  font-family: Poppins, sans-serif;
  margin: 0;
}
header {
  padding: 20px;
  background: #0d0f16;
  text-align:center;
}
nav a {
  color: #82cfff;
  margin: 0 15px;
  font-weight: bold;
  text-decoration:none;
}
.section { padding: 60px; text-align:center; }
footer { text-align:center; padding:20px; background:#11131b; margin-top:40px; }
